/* 메인 컨테이너 */
.entireContainer {
  width: 477px;
  height: 550px;
  margin: 320px auto;
  padding: 60px 40px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Pretendard', sans-serif;
  border-radius: 28px;
}

.upperBar{
  width: 477px;
  height: 100px;
  /* background-color: beige; */
  border-radius: 28px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333333;
}

.welcome{
  font-size: 16px;
  /* font-weight: bold; */
  margin-bottom: 20px;
  color: #333333;
}

/* .lineWrapper {
  width: 100%;
} */

/* .line {
  width: 477px;;
  height: 1px;
  background-color: #14b8a6;
  margin-bottom: 25px;
} */

.putPhone{
  width: 100%;
  padding: 16px 0 16px 5px;
  font-size: 16px;
  border: 1px solid #0d9488;
  width: 330px;
  border-radius: 15px;
}

.putEmail{
  width: 100%;
  padding: 16px 0 16px 5px;
  font-size: 16px;
  border: 1px solid #0d9488;
  width: 330px;
  border-radius: 15px;
} 

.email{
  margin-top: 20px;
}

/* 하단 메인 버튼 */
.go {
  width: 100%;
  padding: 14px;
  background-color: #0d9488;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 88px;
  border-radius: 15px;
  border: none;
}
