/* Header & Nav */
.header {
	background: #fff;
	padding: 0 20px;
}
.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}
.logo {
	font-weight: bold;
	max-width: 150px;
	cursor: pointer;
}
.search-bar input {
	width: 400px;
	padding: 10px;
	border: 1px solid #a0a0a0;
	border-radius: 9px;
	text-align: center;
	font-size: 14px;
	transition: width 0.3s;
}
.search-bar input:focus {
	outline: 1px solid #000;
}
.user-menu {
	display: flex;
	align-items: center;
}

.user-menu button {
	margin-left: 10px;
	padding: 8px 15px;
	border: 1px solid #000;
	background: none;
	cursor: pointer;
	transition: all 0.3s;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* 작은 화면에서는 버튼 텍스트 숨기고 아이콘만 */
@media (max-width: 500px) {
	.search-bar input {
		width: 200px; /* 검색창 축소 */
		font-size: 12px;
	}

	.user-menu button {
		padding: 8px;
		font-size: 0; /* 텍스트 숨기기 */
	}

	.user-menu button::after {
		content: attr(data-icon); /* 아이콘 대체 */
		font-size: 16px;
		color: #000;
		display: inline-block;
	}
}

.nav-wrapper {
	display: flex;
	border: 1px solid black;
}
.nav-item {
	flex: 1;
	text-align: center;
	padding: 15px;
	border-right: 1px solid #000;
	cursor: pointer;
}
.nav-item:last-child {
	border-right: none;
}
