/* Header & Nav */
.header {
	background: #fff;
}
.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}
.logo {
	font-weight: bold;
	max-width: 150px;
	cursor: pointer;
}
.search-bar input {
	width: 400px;
	padding: 10px;
	border: 1px solid #a0a0a0;
	border-radius: 9px;
	text-align: center;
	font-size: 14px;
}
.search-bar input:focus {
	outline: 1px solid #000;
}
.user-menu button {
	margin-left: 10px;
	padding: 8px 15px;
	border: 1px solid #000;
	background: none;
	cursor: pointer;
}
.nav-wrapper {
	display: flex;
	border: 1px solid black;
}
.nav-item {
	flex: 1;
	text-align: center;
	padding: 15px;
	border-right: 1px solid #000;
	cursor: pointer;
}
.nav-item:last-child {
	border-right: none;
}
